/* Remove excesso de padding */
.block-container {
    padding-top: 8vh;
}

/* Fundo sofisticado claro */
.stApp {
    background: linear-gradient(
        135deg,
        #f8fafc 0%,
        #eef2f7 100%
    );
}

/* Card premium */
.login-card {
    background: #ffffff;
    padding: 3rem 2.5rem;
    border-radius: 16px;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.05),
        0 5px 10px rgba(0, 0, 0, 0.03);
    border: 1px solid #e5e7eb;
}

/* Título */
.login-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #111827;
    margin-bottom: 0.5rem;
}

/* Subtítulo */
.login-subtitle {
    text-align: center;
    font-size: 0.9rem;
    color: #6b7280;
    margin-bottom: 2rem;
}

/* Inputs */
div[data-baseweb="input"] {
    border-radius: 8px !important;
}

/* Botão primário estilo SaaS */
button[kind="primary"] {
    background-color: #1d4ed8 !important;
    border-radius: 8px !important;
    height: 46px;
    font-weight: 600 !important;
    border: none !important;
    transition: all 0.2s ease;
}

button[kind="primary"]:hover {
    background-color: #1e40af !important;
    transform: translateY(-1px);
}

button[kind="secondaryFormSubmit"] {
    background-color: rgba(17, 76, 238, 0.781) !important;
    border-radius: 8px !important;
    height: 46px;
    font-weight: 600 !important;
    border: none !important;
    transition: all 0.2s ease;
    color: var(--card-background) !important;
}
button[kind="secondaryFormSubmit"]:hover {
    filter: brightness(0.95);
    transform: translateY(-1px);
    background-color: rgb(17, 76, 238) !important;
}


/* Remove qualquer instrução do input dentro de form */
[data-testid="InputInstructions"] {
    visibility: hidden !important;
    height: 0 !important;
    margin: 0 !important;
}

/* Remove borda duplicada do container externo */
div[data-baseweb="input"] {
    border: 1px solid #e5e7eb !important;
    border-radius: 15px !important;
    box-shadow: none !important;
}

/* Remove borda interna do input */
div[data-baseweb="input"] input {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Remove qualquer efeito ao focar */
div[data-baseweb="input"]:focus-within {
    border: 1px solid #e5e7eb !important;
    border-radius: 15px !important ;
    box-shadow: none !important;
}

/* Background ao selecionar */
div[data-baseweb="input"]:focus-within input {
    background-color: #eff6ff !important;  /* azul suave */
}


