/* =====================================================
   TABS RESPONSIVO
   ===================================================== */

button[data-baseweb="tab"] {
    font-size: 16px !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    transition: all 0.2s ease-in-out !important;
    margin-bottom: 10px !important;
    background-color: var(--text-tertiary) !important;
    font-weight: 600 !important;
    color: var(--text-primary) !important;
}

button[data-baseweb="tab"][aria-selected="true"] {
    background-color: var(--primary-color) !important;
    color: var(--card-background) !important;
}

button[data-baseweb="tab"]:hover {
    background-color: var(--secondary-color) !important;
    color: var(--card-background) !important;
}

/* Mobile */
@media (max-width: 768px) {

    div[data-baseweb="tab-list"] {
        display: flex !important;
        flex-direction: column !important;
    }

    button[data-baseweb="tab"] {
        width: 100% !important;
        text-align: center !important;
    }
}
